name: autofix.ci

on:
  push: 
    branches: [main, develop]
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Autofix
        uses: yikoyu/workflows/.github/workflows/autofix.yml@main
