name: Commitlint Validate

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  commitlint:
    runs-on: ubuntu-latest

    steps:
      - name: Commitlint
        uses: yikoyu/workflows/.github/workflows/commitlint.yml@main
